@import "extends/reset.less";
@import "extends/functions.less";
@import "extends/form.less";
@import "extends/header.less";
@import "extends/footer.less";
@import "style.mq.less";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.pdr-0 {
    padding-right:0;
}
.pdl-0 {
    padding-left:0;
}
.pdlr-0 {
    padding-left:0;
    padding-right:0;
}
#wrap{
    position: relative;
    .ex {
        min-height: 2000px;
        background-color: #ebebee;
    }
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
//custom scroll
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #4a638d;
    width: 5px;
    border-radius: 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #10132c;
    width: 5px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 11px;
}
.home {
    .bg-wrap-top {
        background: url(../images/bg-header-top.jpg) no-repeat 50% 50%;
        min-height: 400px;
    }
}