@import "extends/reset.less";
@import "extends/functions.less";
@import "extends/scroll.less";
@import "extends/form.less";
@import "extends/header.less";
@import "extends/footer.less";
@import "style.mq.less";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
//custom scroll
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #4a638d;
    width: 5px;
    border-radius: 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #10132c;
    width: 5px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 11px;
}
.pdr-0 {
    padding-right:0;
}
.pdl-0 {
    padding-left:0;
}
.pdlr-0 {
    padding-left:0;
    padding-right:0;
}
.comment {
    display: block;
    font-family: 'Roboto';
    font-size: 11px;
    background: url(../images/comment.png) no-repeat 0 50%;
    height: 12px;
    width: 35px;
    float: left;
    padding-left: 12px;
    cursor: pointer;
}
.view {
    display: block;
    font-family: 'Roboto';
    font-size: 11px;
    background: url(../images/view.png) no-repeat 0 50%;
    height: 12px;
    width: 35px;
    float: left;
    padding-left: 12px;
    cursor: pointer;
}
.note {
    list-style: none;
    width: 100%;
    height: 15px;
    margin: 15px 0 10px 0;
    li {
        float: left;
        margin-left: 3px;
        &:last-child {
            margin-left: 0;
        }
        &.note-active {
            background: url(../images/note-active.png) no-repeat 0 50%;
            height: 12px;
            width: 12px;
        }
        &.note-not-active {
            background: url(../images/note-not-active.png) no-repeat 0 50%;
            height: 12px;
            width: 12px;
        }
    }
}
.view-comment {
    float: right;
    ul {
        list-style: none;
        li {
            float: left;
            min-height: 12px;
            &:first-child {
                border-right : 1px solid #55575d;
                padding-left: 10px;
                margin-left: 10px;
            }
            a {
                display: block;
                height: 12px;
                width: 14px;
                &.msg {
                    background: url(../images/logo-msg.png) no-repeat 50% 50%;
                }
            }
        }
    }
}
.home {
    .bg-wrap-top {
        background: url(../images/bg-header-top-v3.jpg) no-repeat 50% 50%;
        min-height: 300px;
    }
}
.no-home {
    .bg-wrap-top {
        /*background: url(../images/bg-header-top-v4.jpg) no-repeat 50% 50%;*/
        min-height: 122px;
    }
    #header {
        background: url(../images/bg-header-top-v4.jpg) no-repeat 50% 50%;
        min-height: 122px;
        .bg-fixed-wrap-top {
            background: none;
            min-height: 37px;
            .nav-menu {
                min-height: 37px;
                .menu-left {
                    margin: 5px 0;
                    .ico-acc {
                        background: url(../images/logo-acceuil.png) no-repeat 50% 50%;
                        display: block;
                        width: 28px;
                        height: 28px;
                    }
                    .no-ico {
                        margin-top: 7px;
                    }
                }
                .dropdown {
                    min-height: 37px;
                    .dropdown-toggle {
                        .flag {
                            margin: 11px 0;
                        }
                    }
                }
            }
        }
        .bg-fixed-wrap-bottom {
            background-color: inherit;
            opacity: 1;
            min-height: 84px;
            .title {
                color: #fff;
                font-family: "Roboto Condensed";
                font-size: 38px;
                font-weight: bold;
                float: left;
                text-transform: uppercase;
                margin: 21px 0;
            }
            .profil {
                float: right;
                color: #898d9d;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 300;
                margin: 28px 10% 0 0;
                .sexe {
                    padding-left: 3px;
                }
                .name {
                    padding-left: 3px;
                }
            }
        }
    }
    #wrap {
        background-color: #fff;
        padding-top: 45px;
        &.contact {
            padding-top: 95px;
            .contact-bloc {
                .middle {
                    width: 60%;
                    .form-horizontal {
                        max-width: 365px;
                        .form-group {
                            margin: 0 0 8px 0;
                            &.big-marge {
                                margin: 0 0 45px 0;
                            }
                            .form-control {
                                padding: 12px 20px;
                                color: #808d8e;
                                font-family: "Roboto";
                                font-size: 14px;
                                border-radius: 0;
                                min-height: 43px;
                                //custom placeholder
                                ::-webkit-input-placeholder {
                                    color: #808d8e;
                                    font-family: "Roboto";
                                    font-size: 14px;
                                }
                                ::-moz-placeholder {
                                   color: #808d8e;
                                    font-family: "Roboto";
                                    font-size: 14px;
                                }
                                :-moz-placeholder {   /* Older versions of Firefox */
                                    color: #808d8e;
                                    font-family: "Roboto";
                                    font-size: 14px;
                                }
                                :-ms-input-placeholder { 
                                    color: #808d8e;
                                    font-family: "Roboto";
                                    font-size: 14px;
                                }
                            }
                            .form-control-txt {
                                width: 100%;
                                padding: 12px 20px;
                                background-color: #fff;
                                background-image: none;
                                border: 1px solid #ccc;
                                webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                            }
                        }
                        .form-group-btnn {
                            float: right;
                            .btn-default {
                                color: #fff;
                                font-family: "Roboto";
                                font-size: 14px;
                                font-weight: bold;
                                background-color: #7f8d8d;
                                border: 0;
                                border-radius: 0;
                            }
                        }
                        p {
                            float: left;
                            color: #808d8e;
                            font-family: "Roboto";
                            font-size: 13px;
                            font-weight: 300;
                            margin-top: 7px;
                            span {
                                color: #eb4738;
                            }
                        }
                    }
                    .adr-adr {
                        color: #7f8d8d;
                        font-family: "Roboto";
                        font-size: 16px;
                        border-bottom: 1px solid #d5d9d9;
                        border-top: 1px solid #d5d9d9;
                        margin-top:55px;
                        padding: 30px 0;
                        width: 70%;
                    }
                }
            }
        }
    }
    &.la-une {
        #wrap {
            background-color: #ebebee;
            padding-top: 40px;
            .article {
                background-color: #fff;
                padding: 30px;
                .title-article {
                    margin-bottom: 50px;
                    .date {
                        color: #0179df;
                        font-family: "Roboto Condensed";
                        font-size: 14px;
                    }
                    .title {
                        color: #56585f;
                        font-family: "Roboto Condensed";
                        font-size: 30px;
                    }
                }
                .body-article {
                    p {
                        color: #3e3f45;
                        font-family: "Roboto";
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 300;
                        text-indent: 20px;
                        margin-bottom: 20px;
                        &.last {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
        #footer {
            &.small {
                margin: 0;
            }
        }
    }

}
#wrap{
    position: relative;
    &.affix {
        margin-top: 172px;
    }
    .bg-gray {
        min-height: 850px;
        background-color: #ebebee;
        padding-top: 10px;
    }
    .share {
        margin-bottom: 10px;
        .open-to-share {
            float: right;
            background: url(../images/open-to-share.png) no-repeat 100% 50%;
            width: 150px;
            height: 24px;
            &:hover {
                .share-list {
                    display: block;
                }
            }
            .share-list {
                display: none;
                list-style: none;
                margin: 4px 50px 0 0;
                > li {
                    float: right;
                }
                .email {
                    display: block;
                    width: 22px;
                    height: 17px;
                    background: url(../images/email.png) no-repeat 50% 50%;
                }
                .google {
                    display: block;
                    width: 19px;
                    height: 19px;
                    background: url(../images/google.png) no-repeat 50% 50%;
                    margin-right: 10px;
                }
                .tw {
                    display: block;
                    width: 17px;
                    height: 15px;
                    background: url(../images/tw.png) no-repeat 50% 50%;
                    margin-right: 10px;
                    margin-top: 2px;
                }
                .fb {
                    display: block;
                    width: 10px;
                    height: 19px;
                    background: url(../images/fb.png) no-repeat 50% 50%;
                    margin-right: 10px;
                }
            }
        }
    }
    .chat {
        .title {
            display: block;
            width: 100%;
            min-height: 178px;
            background: #4187dd url(../images/ico-tchat.png) no-repeat 50% 15%;
            margin-bottom: 15px;
            text-align: center;
            text-decoration: none;
            p {
                color: #fff;
                font-family: "Roboto";
                font-size: 24px;
                font-weight: 300;
                padding-top: 40%;
                text-transform: uppercase;
            }
        }
        .search {
            padding: 5px 15px;
            border: 1px solid #a9acb0;
            margin-bottom: 12px;
            width: 100%;
            background-color: transparent;
        }
        .mCustomScrollbar {
            border-top: 1px solid #dde2e7;
            border-bottom: 1px solid #dde2e7;
            height: 379px;
            width: 95%;
            list-style: none;
            margin-bottom: 15px;
            .mCSB_scrollTools {
                .mCSB_draggerRail {
                    background-color: #d8d8de;
                    margin-right: 0;
                    border-radius: 0;
                }
                .mCSB_dragger {
                    .mCSB_dragger_bar {
                        background-color: #5294e4;
                        margin-right: 0;
                        border-radius: 0;
                    }
                }
            }
            .profil {
                /*min-height: 69px;*/
                border-bottom: 1px solid #dde2e7;
                margin-right: 8px;
                img {
                    float: left;
                    /*margin: 9px 12px 9px 15px;*/
                    margin: 5px 3% 5px 3%;
                }
                .infos {
                    float: left;
                    /*margin: 9px 12px 9px 15px;*/
                    margin: 5px 3% 5px 3%;
                    img {
                        margin: 10px 0 0 0;
                    }
                    .name {
                        font-family: "Roboto";
                        font-size: 18px;
                        font-weight: 300;
                        color: #737981;
                    }
                }
                .status {
                    float: right;
                    .enligne {
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/enligne.png) no-repeat 50% 50%;
                        margin-right: 20px;
                        margin-top: 10px;
                    }
                    .horsligne {
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/horsligne.png) no-repeat 50% 50%;
                        margin-right: 20px;
                        margin-top: 10px;
                    }
                }
            }
        }
        .module-chat {
            width: 100%;
            border-top: 2px solid #4288dd;
            ul {
                list-style: none;
                min-height: 85px;
                width: 100%;
                margin-top: 5px;
                background-color: #d6d6db;
                background-image: url(../images/chat-row.png);
                background-position: 90% 50%;
                background-repeat: no-repeat;
                li {
                    float: left;
                    margin-right: 12%;
                    &:first-child {
                        margin-left: 10%;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        &.mail {
                            width: 25px;
                            height: 19px;
                            background-image: url(../images/chat-mail.png);
                            margin: 33px 0;
                        }
                        &.discussion {
                            width: 22px;
                            height: 24px;
                            background-image: url(../images/chat-discussion.png);
                            margin: 30px 0;
                        }
                        &.video {
                            width: 32px;
                            height: 20px;
                            background-image: url(../images/chat-video.png);
                            margin: 32px 0;
                        }
                        &.audio {
                            width: 18px;
                            height: 25px;
                            background-image: url(../images/chat-audio.png);
                            margin: 30px 0;
                        }
                    }
                }
            }
        }
    }
    .carrousel-videos {
        width: 60.33333333%;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        .carousel {
            .carousel-inner {
                min-height: 320px;
                .item {
                    > img {
                        min-height: 500px;
                    }
                    .carousel-caption {
                        min-height: 65px;
                        bottom: 2px;
                        padding: 0;
                        right: 0;
                        left: 0;
                        background-color: #1d213c;
                        z-index: inherit;
                        .video-title {
                            font-family: "Roboto Condensed";
                            color: #dadae5;
                            font-size: 19px;
                            float: left;
                            margin: 15px 0 0 22px;
                        }
                        .info {
                            float: right;
                            margin: 25px 25px 0 0;
                            .date {
                                font-family: "Roboto Condensed";
                                font-size: 11px;
                                color: #00bf79;
                            }
                        }
                    }
                }
            }
            .carousel-control {
                top: inherit;
                bottom: -30px;
                background-image: none;
                width: 25px;
                height: 25px;
                &.left {
                    left: 30%;
                    background: url(../images/carousel/control-left.png) no-repeat 50% 50%;
                }
                &.right {
                    right: 30%;
                    background: url(../images/carousel/control-right.png) no-repeat 50% 50%;
                }
            }
            .carousel-indicators {
                bottom: -31px;
                left: 41%;
                list-style-type: none;
                margin-left: 0;
                width: auto;
                li {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    background-color: transparent;
                    border-radius: 0;
                    border: 0;
                    text-indent: inherit;
                    color: #8f9092;
                    font-family: "Roboto";
                    font-size: 14px;
                    &.active {
                        background: url(../images/carousel/indicator-active.png) no-repeat 50% 50%;
                        color: #fff;
                    }
                }
            }
        }
        .thumbs {
            margin-top: 15px;
            ul {
                list-style: none;
                li {
                    float: left;
                    width: 20%;
                    a {
                        display: block;
                        background-color: transparent;
                        border-radius: 0;
                        margin: 0;
                        border: 2px solid transparent;
                        padding: 5px;
                        img {
                            width: 100%;
                        }
                        &.selected {
                            border: 2px solid #fb2929;
                            position: relative;
                            &:before {
                                background: url(../images/carousel/row-bottom-carousel.png) no-repeat 50% 50%;
                                content: ' ';
                                display: inline-block;
                                width: 23px;
                                height: 11px;
                                position: absolute;
                                left: 35%;
                                top: -19px;
                            }
                        }
                    }
                }
            }
        }
    }
    .videos {
        width: 23%;
        float: right;
        .title {
            display: block;
            width: 100%;
            min-height: 178px;
            background: #00bf79 url(../images/ico-videos.png) no-repeat 50% 15%;
            margin-bottom: 35px;
            text-align: center;
            text-decoration: none;
            p {
                color: #fff;
                font-family: "Roboto";
                font-size: 24px;
                font-weight: 300;
                padding-top: 30%;
                text-transform: uppercase;
            }
        }
        .mCustomScrollbar {
            border-top: 0;
            border-bottom: 2px solid #00bf79;
            height: 525px;
            width: 100%;
            list-style: none;
            padding-bottom: 35px;
            .mCSB_scrollTools {
                .mCSB_draggerRail {
                    background-color: #d8d8de;
                    margin-right: 0;
                    border-radius: 0;
                }
                .mCSB_dragger {
                    .mCSB_dragger_bar {
                        background-color: #00bf79;
                        margin-right: 0;
                        border-radius: 0;
                    }
                }
            }
            .profil {
                min-height: 110px;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    float: left;
                    width: 42%;
                    margin-right: 3%;
                }
                .infos {
                    float: left;
                    width: 52%;
                    margin-right: 3%;
                    .info-title {
                        float: left;
                        font-family: "Roboto";
                        font-size: 18px;
                        font-weight: 300;
                        color: #737981;
                    }
                    .flag {
                        float: right;
                        width: initial;
                    }
                }
                .video-title {
                    font-family: "Roboto Condensed";
                    font-size: 14px;
                    margin-right: 3%;
                    color: #131729;
                }
                .comment {
                    padding-left: 20px;
                }
                .view {
                    padding-left: 20px;
                }
            }
        }
    }
}
.list-bloc {
    margin-top: 60px;
    min-height: 588px;
    .left {
        float: left;
        width: 19%;
        position: relative;
        &:hover {
            .bottom-visit {
                height: 590px;
                opacity: 0.8;
                background-color: #129e61;
            }
        }
    }
    .middle {
        float: left;
        width: 62%;
        padding: 0 40px;
        position: relative;
    }
    .right {
        float: left;
        width: 19%;
        position: relative;
        &:hover {
            .bottom-visit {
                height: 590px;
                opacity: 0.8;
                background-color: #129e61;
            }
        }
    }
    .top-visit {
        height: 590px;
        overflow: hidden;
        /*img {
            width: 100%;
            height: 100%;
        }*/
    }
    .bottom-visit {
        height: 180px;
        background-color: #a6a6a6;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: table;
        p{

            font-family: "Roboto";
            font-size: 36px;
            font-weight: 100;
            color: #fff;
            vertical-align: middle;
            overflow: hidden;
            display: table-cell;
        }
        /*&:hover {
            height: 590px;
            opacity: 0.8;
            background-color: #129e61;
        }*/
    }
    .conversation {
        min-height:196px;
        display: table;
        border-top : 1px solid #fff;
        background-color: #f0f2f3;
        position: relative;
        width: 100%;
        &:first-child {
            border-top: 0;
        }
        &:nth-child(2){
            background-color: #e3e8ec;
        }
        .perso-picture {
            width: 20%;
            text-align: center;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            padding: 33px;
            p{
                color: #8b8d92;
                font-size: 12px;
                span {
                    color: #55585d;
                    font-size: 16px;
                }
            }
            &:after {
                background: url(../images/sep-conversation.png) no-repeat;
                content: ' ';
                display: inline-block;
                width: 11px;
                height: 133px;
                position: absolute;
                top: 28px;
                left: 142px;
            }
        }
        .perso-txt {
            padding:30px 30px 10px 25px;
            h3 {
                font-size: 18px;
                color: #447dc2;
                font-weight: 400;
            }
            .date-txt {
                font-size: 12px;
                color: #8b8d92;
                padding: 5px 0 15px;
            }
            p {
                color: #55585d;
                font-size: 13px;
            }
        }
        .txt-comm {
            position: absolute;
            bottom: 20px;
            right: 30px;
            ul {
                list-style: none;
                li {
                    float: left;
                    padding: 0 10px 0 0;
                    position: relative;
                    &:first-child {
                        &:after {
                            background: url(../images/sep-texto.png) no-repeat;
                            content: ' ';
                            display: inline-block;
                            width: 1px;
                            height: 17px;
                            position: absolute;
                            top: 5px;
                            left: 20px;
                        }
                    }
                    &:last-child {
                        color: #00bf79;
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
    .pagination {
        margin: 0 auto;
        display: table;
        margin-top: 25px;
        li {
            display: inline-flex;
            text-align: center;
            a {
                border: 0;
                color: #8f9092;
                padding: 6px 5px;
                min-width: 22px;
                &:hover, &.active {
                    background: url(../images/pagination-hover.png) no-repeat 50% 50%;
                    line-height: 10px;
                    color: #fff;
                }
            }
            &:first-child {
                /*font-size: 33px;*/
                font-weight: 100;
            }
            &:last-child {
                /*font-size: 33px;*/
                font-weight: 100;
            }
        }
        
    }
}
.contact-bloc {
	width:100%;
	.middle {
		width: 70%;
		margin: 0 auto;		
	}
}
.contact-bloc {
	.img-inscrit {
		padding: 35% 35% 18%;
	}
	.inscrit-ins {
        color: #555;
        font-family: "Roboto";
        font-size: 42px;
		text-align: center;
		font-weight: 100;
	}
	.sign_in {
		.form-horizontal {
            background-color: #f3f3f3;
            width: 375px;
            margin: 0 auto;
			padding: 35px 30px 25px 30px;
            .form-group {
                margin: 0 0 20px 0;
                &.last {
                    margin: 0 0 30px 0;
                }
                .form-control {
                    border-radius: 0;
                }
            }
			.control-label {
				text-align:left;
				color: #5d5d5d;
                font-family: "Roboto Condensed";
                font-size: 14px;
                padding: 0 0 5px 0;
                font-weight: 400;
			}
			.second-select {
				padding: 0;
			}
			.checkbox {
                padding: 0;
				label {
                    font-family: "Roboto Condensed";
					font-size: 14px;
					color: #5d5d5d;
                    padding-right: 30px;
					span {
						color: #0161d6;
					}
				}
			}
			.form-group-bttn {
				margin-top: 20px;
				button {
                    float: right;
					color: #fbfbfb;
                    font-family: "Roboto Condensed";
                    font-size: 12px;
                    padding: 5px 15px;
					border: 1px solid #2f79ed;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                    -moz-background-clip: padding;
                    -webkit-background-clip: padding-box;
                    background-clip: padding-box;
                    background-color: #4b8df9;
				}
			}
		}
	}
}
