//affichage descktop large
@media screen and (min-width: 1420px) {
	.container {
        width: 1400px;
    }
	.no-home.la-une #wrap .search .result-search ul.mCustomScrollbar li .search-left {
		width: 17%;
	}
	.no-home.la-une #wrap .search .result-search ul.mCustomScrollbar li .search-middle {
		width: 50%;
	}
	.no-home.la-une #wrap .search .result-search ul.mCustomScrollbar li .search-right {
		width: 30%;
	}
	.no-home.recherche #wrap .article {
		min-height: 1030px;
	}
	.no-home.recherche #wrap .right-top .carrousel-videos {
		min-height: 610px;
	}
	/*.no-home.pro #wrap .bg-no-white .calendar .body-calendar {
		min-height: 480px;
	}*/
	.no-home.pro #wrap .bg-no-white .bloc-itin .body-itin {
		height: 184px;
	}
	.no-home.pro #wrap .bg-no-white .tab .description.mCustomScrollbar {height: 310px;}
	.no-home.pro #wrap .bg-no-white .calendar .body-calendar {padding: 33px 20px 33px 20px;}
}

@media screen and (max-width: 1420px) {
	.no-home.pro #wrap .bg-no-white .reservation a {padding: 60% 0 0 0;}
	.no-home.pro #header.big-header .bg-fixed-wrap-bottom .subtitle {width: 60%;}
}
@media screen and (max-width: 1199px) {
	/*.no-home.pro #wrap .bg-no-white .container .row .container-fluid .col-md-12.col-sm-12 .col-md-4.col-sm-4  {width: 100%;margin-bottom: 20px;padding: 0;}
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	.no-home.pro #wrap .bg-no-white .tab .col-md-4.col-sm-4 {width: 33.33333333%; !important}*/
	.no-home.pro #wrap .bg-no-white .container .row .container-fluid .col-md-12 .col-md-4,
	.no-home.pro #wrap .bg-no-white .container .row .container-fluid col-sm-12 .col-sm-4 {width: 100%;margin-bottom: 20px;padding: 0;}
	.no-home.pro #wrap .bg-no-white .tab .col-md-4,
	.no-home.pro #wrap .bg-no-white .tab .col-sm-4 {width: 33.33333333%!important;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos {min-height: 600px;}
	.no-home.pro #wrap .bg-no-white .appel .reserv {padding: 20% 0 0 0;}
	.no-home.pro #wrap .bg-no-white .reservation a {padding: 24% 0 0 0;}
	.no-home #wrap.contact .contact-bloc .middle .form-horizontal {margin-right: 20px;}
	.no-home.la-une #wrap .article .add-comment .img-profil {width: 30%;}
	.no-home.la-une #wrap .article .add-comment .form-groupe {width: 70%;}
	.no-home.pro #wrap .bg-no-white .informations .mail-box {background-size: 20%;}
}
//affichage descktop small
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	#header .nav-bar .search input[type="submit"] {font-size: 15px;}
	#header .nav-bar nav .select2-container .select2-choice {font-size: 12px;/*padding: 48px 20px 19px 12%;*/padding: 33px 20px 19px 12%;}
	#header.affix .nav-bar nav.region .select2-container .select2-choice, 
	#header.affix .nav-bar nav.categorie .select2-container .select2-choice {padding: 46px 20px 21px 12%;}
	#wrap .carrousel-videos .carousel .carousel-indicators {left: 43%;}
	#header.big-header .bg-fixed-header-bottom.pro .favoris {margin: 10px 25% 0 0;}
	#header.big-header .bg-fixed-header-bottom.pro .img-restau {top: 10px;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	#header .nav-bar .page-title h1 {margin-top: 11%;}
	#header .nav-bar nav .select2-container .select2-choice {padding: 26px 20px 26px 12%;font-size: 12px}
	#header .nav-bar .connexion .dropdown .dropdown-toggle {padding: 29px 0 23px 0;}
	#header .nav-bar .search input[type="submit"] {font-size: 10px;}
	#header .nav-bar nav {font-size: 12px;}
	#header .nav-bar .connexion .dropdown .dropdown-toggle {padding: 26px 0 26px 0;}
	#header .nav-bar .logo-img {width: 7%;}
	#header.affix .nav-bar nav.region .select2-container .select2-choice, 
	#header.affix .nav-bar nav.categorie .select2-container .select2-choice {padding: 60px 20px 25px 12%;font-size: 12px;}
	#header.affix .nav-bar nav .dropdown .dropdown-toggle {padding: 48px 0 19px 12%;}
	#wrap .chat .title p {font-size: 20px;padding-top: 65%;}
	#wrap .videos .title p {font-size: 20px;padding-top: 40%;}
	#wrap .carrousel-videos .carousel .carousel-indicators {left: 41%;}
	#header.affix .nav-bar .search {margin-top: 38px;}
	#header.affix .nav-bar .logo-img {margin-top: 35px;}
	.list-bloc .conversation .perso-picture {width: 25%;}
	.list-bloc .conversation .perso-picture:after {left: 25%;}
	.list-bloc .conversation .perso-txt {width: 75%;}
	#header.big-header .bg-fixed-header-bottom.pro .favoris {width: auto;margin: 20px 25% 0 0;}
	#header.big-header .bg-fixed-header-bottom .flag {margin: 33px 0 0 25%;}
	#header.big-header .bg-fixed-wrap-bottom .subtitle {width: 65%;}
	#header.big-header .bg-fixed-header-bottom.pro .img-restau {top: 45px;}
	.no-home.la-une #wrap .right-bottom .list-bloc .conversation .perso-picture:after {left: 30%;}
	.no-home.la-une #wrap .right-top .carrousel-videos {min-height: 530px;}
	.no-home.recherche #wrap .right-top .carrousel-videos {min-height: 440px;}
	.no-home.recherche #wrap .right-bottom .list-bloc .conversation .perso-picture {width: 30%;}
	.no-home.recherche #wrap .right-bottom .list-bloc .conversation .perso-picture img {max-width: 100%;}
	.no-home.recherche #wrap .right-bottom .list-bloc .conversation .perso-picture:after {left: 35%;}
	.no-home.recherche #wrap .right-bottom .list-bloc .conversation .perso-txt {width: 70%;}
	.no-home.user #wrap .right-top .carrousel-videos .carousel .carousel-indicators {left: 34%;}
	.no-home.user #wrap .carrousel-videos .thumbs .carousel-inner .item a .captions .top .name {font-size: 12px;}
	.no-home.la-une #wrap .right-bottom .list-bloc .conversation .perso-picture {width: 30%;}
	.no-home.la-une #wrap .right-bottom .list-bloc .conversation .perso-picture:after {left: 35%;}
	.no-home.la-une #wrap .right-bottom .list-bloc .conversation .perso-txt {width: 70%;}
	.no-home.logged-in #wrap .right-bottom .list-bloc .conversation .perso-txt {padding: 40px 25px 10px 40px;}
	.no-home #header .bg-fixed-wrap-bottom .title {font-size: 30px !important;}
	.home #wrap .carrousel-videos .carousel .carousel-inner.galerie .item.active iframe {min-height: 400px;}
	.no-home.pro #header.big-header .bg-fixed-wrap-bottom .subtitle {width: 50%;}
	.no-home.la-une #wrap .article .add-comment .img-profil {width: 35%;}
	.no-home.la-une #wrap .article .add-comment .form-groupe {width: 65%;}
	
}

@media screen and (max-width: 991px) {
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos {min-height: 550px;}
	.no-home.pro #wrap .bg-no-white .reservation a {padding: 32% 0 0 0;}
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	.list-bloc .bottom-visit p {font-size: 28px;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-indicators {min-width: 400px !important;left: 25% !important;}
}
//affichage tablette
@media screen and (max-width: 767px) {
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding:0;}
        .no-home #header .bg-fixed-wrap-bottom .title {font-size:26px !important;}
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	#header .nav-bar .connexion .dropdown .dropdown-toggle:hover,
	#header .nav-bar .connexion .dropdown .dropdown-toggle {padding: 32px 0 23px 0;}
	#header.big-header .bg-fixed-header-bottom .flag {margin: 33px 0 0 35%;}
	#header.affix .nav-bar nav.connexion .dropdown .dropdown-toggle {padding: 55px 0 15px 12%;}
	#wrap .chat .title {min-height: inherit;text-align: inherit;background-position:95% 50%;}
	#wrap .chat .title p {padding: 20px;font-size: 20px;}
	#wrap .chat .title p br {display: none;}
	#wrap .chat .mCustomScrollbar {width: 100%;}
	#wrap .carrousel-videos {width: 100%;padding: 0;min-height: 600px;margin-bottom:15px;margin-top:15px;}
	#wrap .videos {width: 100%;}
	#wrap .videos .title {min-height: inherit;text-align: inherit;background-position:95% 50%;}
	#wrap .videos .title p {padding: 20px 0 0 20px;font-size: 20px;}
	#wrap .videos .title .sub-title {padding: 0 0 20px 20px;font-size: 12px;}
	#footer .bottom-footer .input-group .input-group-addon {float: right;}
	.home .list-bloc .middle {width: 100%;padding: 0;margin: 10px 0;}
	.home .list-bloc .left, .home .list-bloc .right {width: 100%;}
	.home .list-bloc .left .top-visit img, .home .list-bloc .right .top-visit img {width: 100%;}
	.home .list-bloc .left .bottom-visit, .home .list-bloc .right .bottom-visit {position: relative;height: 50px;}
	.home .ALune {float:none;}
	#header .nav-bar .logo-img, #header.affix .nav-bar .logo-img {display: none;width: 0;margin: 0;}
	#header .nav-bar .region, #header .nav-bar .categorie, #header.affix .nav-bar nav, #header.affix .nav-bar nav {width: 20%;}
	#header .nav-bar .search, #header.affix .nav-bar .search {width: 40%;margin: 14px 0 13px 0;}
	#header .nav-bar .connexion, #header.affix .nav-bar nav {width: 18%;font-size: 10px;}
	#header .nav-bar .search input[type="text"] {padding: 10px 5px;width: 60%;}
	#header .nav-bar .search input[type="submit"] {width: 40%;font-size: 12px;}
	/*#header .nav-bar .page-title h1 {margin-top: 17%;}*/
	#header.affix .nav-bar nav .dropdown .dropdown-toggle {padding-left:2%;}
	.home .list-bloc .conversation .perso-picture {width: 25%;}
	.home .list-bloc .conversation .perso-picture:after {left: 26%;}
	.home .list-bloc .conversation .perso-txt {width: 75%;}
	#footer {padding: 20px 0 50px 0;margin-top: 10px;}
	#footer .top-footer {margin-bottom: 10px;}
	#footer .bottom-footer {padding: 0 15px;}
	#footer .bottom-footer .first {width: 100%;margin-left: 0;margin-bottom: 10px;}
	#footer .bottom-footer .sep-footer {display:none;}
	#footer .bottom-footer .second {width: 100%;margin-bottom: 10px;}
	#header .nav-bar .connexion .dropdown .dropdown-body:before {right: 20px;}
	#header .nav-bar .connexion .dropdown .dropdown-body {padding: 10px 15px 15px 15px;min-width: 470px;}
	.select2-drop.select2-drop-active {min-width: 120px;}
	.list-bloc .bottom-visit p {font-size: 25px;}
	#header .bg-fixed-wrap-top .nav-menu .dropdown .menu-right {min-width: 470px;padding: 10px;}
	#header .bg-fixed-wrap-top .nav-menu .dropdown .menu-right > li ul li label {font-size: 11px;}
	.home #wrap .carrousel-videos .carousel .carousel-inner.galerie .item.active iframe {min-height: inherit;}
	.no-home.la-une #wrap .article {min-height: inherit;margin-bottom: 15px;}
	#header .bg-fixed-wrap-bottom .title {font-size: 25px;}
	#header.big-header .bg-fixed-wrap-bottom .subtitle {width: 35%;}
	#header .bg-fixed-wrap-bottom .profil {margin: 28px 3% 0 0;font-size: 14px;}
	#header.big-header .bg-fixed-header-bottom .favoris {font-size: 10px;margin: 10px 25% 0 0;padding: 5px 5px 5px 45px;}
	#header.big-header .bg-fixed-header-bottom.pro .nb-favoris {font-size: 10px;margin: 5px 27% 0 0;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item .prop {font-size: 12px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item .prop-name {font-size: 20px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item {min-width: 320px;}
	/*.no-home.pro #wrap .bg-no-white .tab .col-md-4.col-sm-4, .no-home.pro #wrap .bg-no-white .tab .col-md-5.col-sm-5 {width: 100%; !important}*/
	.no-home.pro #wrap .bg-no-white .tab .col-md-4,
	.no-home.pro #wrap .bg-no-white .tab .col-sm-4,
	.no-home.pro #wrap .bg-no-white .tab .col-md-5,
	.no-home.pro #wrap .bg-no-white .tab .col-sm-5 {width: 100% !important;}
	.no-home.pro #wrap .bg-no-white .reservation {margin: 0 0 10px 0;}
	.no-home.pro #wrap .bg-no-white .appel .reserv {padding: 10% 0 0 0;}
	.no-home.pro #wrap .bg-no-white .reservation a {padding: 14% 0 0 0;}
	.no-home.pro #wrap .bg-white {padding: 25px 0;margin: 20px 0 0 0;}
	#footer.pro form .btn-default {font-size: 14px;}
	.no-home.la-une #wrap .search form .btn-default {font-size: 14px;}
	.no-home #wrap.contact .contact-bloc .middle {width: 90%;}
	.no-home #wrap.contact .contact-bloc .middle .form-horizontal {max-width: inherit;width: 100%;margin: 0;}
	.no-home #wrap.contact .contact-bloc .middle .form-horizontal .form-group-btnn {margin: 0 0 20px 0;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-control.left {left: 15%;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-control.right {right: 15%;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-indicators {min-height: 55px !important;min-width: 300px !important;max-width: 300px !important;bottom: -60px !important;left: 20% !important;}

	.no-home.pro2 .tab-right-1, .no-home.pro3 .tab-right-2 {clear:both;margin-top:20px;}
	.no-home.pro2 .tab-right-1 table {width:100%;}
	.no-home.pro2 .tab-right-1 table .mCustomScrollbar tr.even td img,
	.no-home.pro2 .tab-right-1 table .mCustomScrollbar tr.odd td img {height: auto;}
	
	
}
@media screen and (max-width: 630px) {
	#header .bg-fixed-wrap-bottom .title {font-size: 20px;}
	.no-home #header .bg-fixed-wrap-bottom .profil {margin: 35px 3% 0 0;}
	#header.big-header .bg-fixed-header-bottom.pro .img-restau {top: 85px;}
	#header.big-header .bg-fixed-header-bottom.pro .favoris, #header.big-header .bg-fixed-header-bottom.pro .nb-favoris {margin: 10px 5% 0 0;width: 27%;}
	.no-home.pro #wrap .bg-no-white .reservation a {padding: 20% 0 0 0;}
	.no-home.pro .list-bloc .conversation .perso-picture {width: 30%;}
	.no-home.pro .list-bloc .conversation .perso-picture:after {left: 31%;}
	.no-home.pro .list-bloc .conversation .perso-txt {width: 70%;}
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	#header .nav-bar .connexion .dropdown .dropdown-toggle:hover, #header .nav-bar nav.connexion .dropdown .dropdown-toggle  {font-size: 9px;}
	.no-home.pro #wrap .bg-no-white .informations .mail-box {background-size: 30%;}
}
//affichage mobile
@media screen and (max-width: 480px) {
	.home #header .nav-bar .page-title h1 {font-size: 20px !important;margin-top: 20%;}
	#header .nav-bar .page-title h1 {font-size: 20px !important;margin-top: 20%;}
	.no-home.la-une #wrap .right-bottom .list-bloc .conversation .perso-txt {padding: 25px 25px 10px 50px !important;}
	.no-home #header .bg-fixed-wrap-bottom .title {font-size: 20px !important;}
	#header .nav-bar .connexion .dropdown .dropdown-toggle:hover, #header .nav-bar nav.connexion .dropdown .dropdown-toggle {padding: 17px 0 23px 0;background-position: 53% 10%;}
	/*#header .nav-bar nav.connexion .dropdown .dropdown-toggle {padding: 32px 0 8px 0;}*/
	#header.affix .nav-bar nav.connexion .dropdown .dropdown-toggle {padding: 40px 0 15px 0;}
	#header .nav-bar .search input[type="submit"] {font-size: 9px;word-wrap: break-word;}
	.home #wrap .carrousel-videos {min-height: 550px;}
	.home #wrap .carrousel-videos .carousel .carousel-control.right {right: 15%;}
	.home #wrap .carrousel-videos .carousel .carousel-inner {min-height: inherit;}
	#header .nav-bar .connexion.profil .dropdown .dropdown-body {padding: 10px;min-height: 180px;min-width: 300px;}
	#header .nav-bar .connexion.profil .dropdown .dropdown-body .profil-img {width: 40%;margin-right: 3%;}
	#header .nav-bar .connexion.profil .dropdown .dropdown-body .profil-description-top,
	#header .nav-bar .connexion.profil .dropdown .dropdown-body .profil-description-bottom {width: 57%;}
	#header .nav-bar .connexion .dropdown .dropdown-body {padding: 5px;min-width: 300px;}
	.select2-drop.select2-drop-active:before {right: 70%;}
	.home .list-bloc .top-visit {height: inherit;}
	.home .list-bloc .conversation .perso-picture {width: 30%;}
	.home .list-bloc .conversation .perso-picture:after {left: 31%;}
	.home .list-bloc .conversation .perso-txt {width: 70%;}
	#header .bg-fixed-wrap-top .nav-menu .dropdown .menu-right {min-width: 300px;padding: 5px;}
	#header .bg-fixed-wrap-top .nav-menu .dropdown .menu-right > li ul li label {font-size: 7px;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos {min-height: 500px;}
	.no-home.pro #wrap .bg-no-white .informations .left a {font-size: 12px;}
	.no-home #header .bg-fixed-wrap-bottom .profil {margin: 5px 3% 0 0;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil {top: 50px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item {min-width: 200px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item img {max-width: 40%;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item .prop {left: 90px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-inner .item .prop-name {left: 90px;font-size: 14px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-control {bottom: -5px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-control.left {left: 75px;}
	#header.big-header .bg-fixed-header-bottom .carrousel-profil .carousel-control.right {left: 95px;}
	#header.big-header .bg-fixed-header-bottom.pro .favoris, #header.big-header .bg-fixed-header-bottom.pro .nb-favoris {width: 55%;}
	/*#header.big-header .bg-fixed-header-bottom.pro .img-restau {max-width: 30%;}*/
	.no-home.pro #wrap .bg-no-white .appel .reserv {padding: 20% 0 0 0;}
	.no-home.pro #wrap .bg-no-white .reservation a {padding: 30% 0 0 0;}
	.no-home.la-une #wrap .search form .btn-default {font-size: 12px;}
	/*.list-bloc .conversation .perso-picture {width: 30%;}*/
	.no-home.la-une #wrap .right-bottom .list-bloc .conversation .perso-picture:after {left: 30%;}
	.list-bloc .conversation .perso-txt {width: 70%;}
	.no-home.la-une #wrap .article .add-comment .img-profil {width: 40%;}
	.no-home.la-une #wrap .article .add-comment .form-groupe {width: 60%;}
	#comments .conversation .img-forum, #comments .conversation .avatar.photo, #pm-content #content .conversation .avatar.photo {width:28% !important;}
	#pm-content #content .conversation .text {width:70% !important;}
	#pm-content #content .conversation {margin-bottom:10px !important;}
	.no-home.user #wrap .bloc-infos .body-infos .infos-top .form-groupe label,
	.no-home.user #wrap .bloc-infos .body-infos .infos-top .form-groupe input[type="text"],
	.no-home.user #wrap .bloc-infos .body-infos .infos-top .form-groupe input[type="password"] {font-size:12px !important;}
	.userSlide #slider3 #myCarouselphotoright .item img {height: 102px !important;}
	.popup .modal-dialog {width: 300px;}
	#wrap .carrousel-videos .thumbs .carousel-inner .item a .captions .top .name {width:70%;word-break: break-word;}
	.no-home.pro #wrap .bg-no-white .tab .tab-middle {margin-bottom: 20px;}
	.no-home.pro2 .tab-left-1 table {width: 32%;margin-right: 0px;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-control.left {left: 15%;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-control.right {right: 15%;}
	.no-home.pro #wrap .bg-no-white .bloc-videos .carrousel-videos .carousel .carousel-indicators {min-height: 55px !important;min-width: 225px !important;max-width: 225px !important;bottom: -60px !important;left: 15% !important;}
	.no-home.pro #wrap .bg-no-white .informations .mail-box {background-size: 40%;}
	.no-home.pro #wrap .bg-no-white .informations .text-mailBox {font-size: 12px;padding: 10px 3px 3px 3px;}
}